/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    @include background-color-and-hover($color-cyan);
  }
  
  .error {
    @include background-color-and-hover($color-red)
  }
  
  .info {
    @include background-color-and-hover($color-violet)
  }
  
  .success {
    @include background-color-and-hover($color-green)
  }
  
  .warning {
    @include background-color-and-hover($color-orange)
  }