/* ============================================= */
/*              Buttons                          */
/* ============================================= */

.btn {
    margin-top: 15px;
    width: 100%;
    color: $color-white;
    border: none;
    padding: 10px 0;
    text-transform: uppercase;
    border-radius: 5px;
  }
  
  .default {
    background-color: $color-cyan;
  }
  
  .error {
    background-color: $color-red;
  }
  
  .info {
    background-color: $color-violet;
  }
  
  .success {
    background-color: $color-green;
  }
  
  .warning {
    background-color: $color-orange;
  }