/* ============================================= */
/*              Images                           */
/* ============================================= */

.img {
    &-avatar {
      @include center-with-margin;
      max-height: 100%;
    }
    &-frame {
      @include center-with-margin;
      padding: 13px;
      border: 1px solid #ccc;
    }
    &-logo {
      @include center;
    }
  }

  